DJANGO_SETTINGS_MODULE=cybertrust.config.settings.dev
SECRET_KEY=replace-me
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0

DB_NAME=cybertrust
DB_USER=cybertrust
DB_PASSWORD=cybertrust
DB_HOST=mysql
DB_PORT=3306
DB_ROOT_PASSWORD=rootpassword
DB_WAIT_TIMEOUT=60

OPENAI_API_KEY=your-key-here
# test
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0

GUNICORN_WORKER_CLASS=sync
