# Environment
.env
.env.*

# Virtualenv
venv/
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/

# Django
*.sqlite3
media/
staticfiles/

# Logs & caches
*.log
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Editors
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
